#jacobPicture{
    height:30vh;
    width:auto;
}

#mainContentHolder{

    padding-top:4vh;
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    overflow: hidden;
}
#leftContentHolder{
    width:90%;
    
}

p{
    color:white;
    font-size:3vh;
}
h2{
    margin-top:3vh;
    text-decoration:underline;
    font-weight:normal;
    color:white;
    font-size:4vh;
}

.imageHolder{
    width:100%;
}