#jacobPicture{
    height:30vh;
    width:auto;
}

#mainContentHolder{

    padding-top:4vh;
    width:85%;
    padding-left:7vw;
    padding-right:7vw;
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
   
    overflow: hidden;
}
#dropdownImage{
    width:20vw;
    height:auto;
    position:fixed;
    right:5vw;
    top:0vh;
}
#dropdownImage:hover{
    cursor:pointer;
}

p{
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 200%;
    color:white;
    font-size:3vh;
    text-align:left;
}

p.regularText{
    text-align:center;
   
}
h2{
    text-align:center;
    margin-top:3vh;
    margin-bottom:3vh;
    font-weight:bold;
    color:white;
    font-size:5vh;
}

.imageHolder{
    width:100%;
}