*{
    margin:0px;
    padding:0px;
    background-color: black;
}


.navHolder{
    align-items:center;
    width:100%;
}

#navList{
    text-align:center;
    display:flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items:center;
    height:80vh;
}

.navItem a:visited{
    color:black;
}
.navItem a:link{
    color:black;
}
.navItem a{
  
    font-size:10vh;
    text-decoration: none;
    transition: background-position 275ms ease;
    color: black;
    -webkit-text-stroke: 1px white;
    overflow:hidden;
    background: linear-gradient(to right, white, white 50%, black 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

.navItem a:hover {
    background-position: 0 100%;
  }

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }


  