*{
    font-family: 'Lora', serif;
    margin: 0px;
    padding: 0px;
}


#topBar h1{
    font-family: 'Gloria Hallelujah', cursive;
    width:100%;
    background-color:#e0ced1;
    font-size:3vw;
    text-align: center;
    box-shadow: 0 10px 10px #888888;
    padding-top:1vw;
    padding-bottom:1vw;
    margin-bottom:20px;
   
}