#contentHolder{
    width: 90vw;
    margin-left:5vw;
    display: flex;
    flex-flow: column wrap;
    justify-content:space-around;
    align-items:center;
    margin-top:5vh;
   
   
}

.projectHolder{
    text-align:center;
    background-color:white;
    color:black;
    width:50%;
    text-align:center;
    margin-bottom:5vh;
    border-radius:25px;
    box-shadow: 2px 2px 10px #535353;
    transition: box-shadow .2s linear;
}
.projectHolder:hover{
    cursor:pointer;
    box-shadow: 10px 10px 10px #535353;
}
.projectHolder img{
    width:50%;
    height:auto;
}
.projectHolder p{
    text-align:center;
    color:black;
}

h1{
    color:white;
    margin-bottom:5vh;
    font-size:10vh;
}