*{
    margin:0px;
    padding:0px;
    background-color:   none;
    font-family: 'Playfair Display', serif;
}
body{
    background-color:black;
}

#navHolder{
    z-index:102;
    align-items:center;
    width:100%;
}
#opaque {
    position: fixed;
    transition: opacity 1s;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: inline-block;
    background-color: black;
    filter: alpha(opacity=30);
    opacity: .8;
}
* html #opaque {
    position: absolute;
}



#navList{
    z-index:inherit;
    list-style:none;
    text-align:center;
    display:flex;
    flex-flow: column nowrap;
    justify-content:space-around;
    align-items:center;
    height:80vh;
   
    
}
.navItem{
    z-index:inherit;
    font-size:0vh;
    transition: font-size 1s ease;
}

.navItem a:visited{
    color:black;
}
.navItem a:link{
    color:black;
}
.navItem a{
  
    text-decoration: none;
    transition: background-position 275ms ease;
    color: black;
    -webkit-text-stroke: 1px white;
    overflow:hidden;
    background: linear-gradient(to right, white, white 50%, black 50%);
    background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

.navItem a:hover {
    background-position: 0 100%;

  }

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }


  